### **Introduction to `for` Loops**

In programming, a `for` loop provides a clean and concise way to iterate over a sequence of items. It's one of the most commonly used loops due to its simplicity and versatility in handling structured data types.

---

### **Iterating Over Ranges**

The `range()` function generates a sequence of numbers, which can be used in a `for` loop to repeat an action a specific number of times.

**Basic Syntax:**
```python
for variable in range(start, stop, step):
    # body of the loop
```

- `start`: The beginning value (optional, default is 0).
- `stop`: The end value (exclusive).
- `step`: The increment/decrement value (optional, default is 1).

**Example 1:** Counting from 0 to 4
```python
for i in range(5):
    print(i)
```

**Example 2:** Counting from 2 to 8 in steps of 2
```python
for i in range(2, 9, 2):
    print(i)
```

---

### **Iterating Over Lists**

A `for` loop can directly iterate over items in a list without needing to reference indices.

**Basic Syntax:**
```python
for item in list_name:
    # body of the loop
```

**Example:** Printing all items in a list
```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

**Note:** The `for` loop can also iterate over other iterable data types like tuples, sets, strings, and dictionaries.

---

In [ ]:
#You can play around with the examples in this cell


### **Practice Exercises:**

1. **Number Doubler:** For numbers 1 through 10, print each number doubled.

In [ ]:
#Ex1
for number in range(1, 11):
    doubled = number * 2
    print("Double of", number, "is", doubled)

Double of 1 is 2
Double of 2 is 4
Double of 3 is 6
Double of 4 is 8
Double of 5 is 10
Double of 6 is 12
Double of 7 is 14
Double of 8 is 16
Double of 9 is 18
Double of 10 is 20

2. **Vowel Finder:** Given a word, iterate over it and print only the vowels.

In [8]:
#Ex2
def print_vowels(word):
    vowels = ['a', 'e', 'i', 'o', 'u']

    for char in word:
        if char.lower() in vowels:
            print(char)

word = input("Enter a word: ")
print_vowels(word)

Enter a word: wfghgf

3. **List Reverser:** Without using built-in functions, reverse the items in a list.

In [7]:
#Ex3
word = str(input("word "))
l = len(word) -1
for i in range (l,-1,-1):
  print(word[i], end ="")

word treyuiou
uoiuyert

4. **Odd Number Counter:** Given a list of numbers, count how many odd numbers there are.

In [5]:
#Ex4
def count_odd_numbers(numbers):
    count = 0
    for num in numbers:
        if num % 2 != 0:
            count += 1

    return count


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_count = count_odd_numbers(my_list)
print("Number of odd numbers", odd_count)

Number of odd numbers 5

5. **Grade Assigner:** For a list of scores, assign and print grades (e.g., A, B, C).

In [5]:
#Ex5
scores = [85, 92, 78, 65, 90, 88]

for score in scores:
    if score >= 90:
        grade = "A"
    elif score >= 80:
        grade = "B"
    elif score >= 70:
        grade = "C"
    elif score >= 60:
        grade = "D"
    else:
        grade = "F"
    print("Score:", score, "Grade:", grade)

Score: 85 Grade: B
Score: 92 Grade: A
Score: 78 Grade: C
Score: 65 Grade: D
Score: 90 Grade: A
Score: 88 Grade: B

6. **Word Lengths:** For a list of words, print each word alongside its length.

In [3]:
#Ex6
words = ["apple", "banana", "cherry", "date", "elderberry"]
for word in words:
    print(word, ":", len(word))

apple : 5
banana : 6
cherry : 6
date : 4
elderberry : 10

7. **Positive Number Finder:** Given a list of numbers, print only the positive ones.

In [2]:
#Ex7
numbers = [-3, 5, -7, 10, -2, 0, 8]
for num in numbers:
    if num > 0:
        print(num)

5
10
8

8. **Temperature Converter:** Convert a list of temperatures from Celsius to Fahrenheit and print them.

In [1]:
#Ex8
temperatures_celsius = [25, 30, 15, 20, 10]
temperatures_fahrenheit = []

for celsius in temperatures_celsius:
    fahrenheit = (celsius * 9/5) + 32
    temperatures_fahrenheit.append(fahrenheit)

print("Temperatures in Fahrenheit:", temperatures_fahrenheit)

Temperatures in Fahrenheit: [77.0, 86.0, 59.0, 68.0, 50.0]

9. **Name Initials:** For a list of full names, print the initials of each name.

In [5]:
#Ex9
full_names = ['John Smith', 'Jane Doe', 'Michael Jones', 'Grissom Ting']
for full_name in full_names:
    first_name, last_name = full_name.split(' ')
    initials = first_name[0] + '.' + last_name[0]
    print(f'{full_name}\t{initials}')

John Smith	J.S
Jane Doe	J.D
Michael Jones	M.J
Grissom Ting	G.T

10. **Range Sum:** Calculate the sum of numbers from 1 to 100 using a `for` loop.

In [ ]:
#Ex10
sum_numbers = 0

for i in range(1, 101):
    sum_numbers += i

print("Sum of numbers from 1 to 100:", sum_numbers)

Sum of numbers from 1 to 100: 5050